/* NAVBAR */
@import url("https://fonts.googleapis.com/css?family=Roboto:300, 400, 500, 700");
.navbar .nav .nav-item .nav-link {
    font: 500 14px "Roboto", sans-serif;
    text-decoration: none;
    color: #05364d;
    padding: 20px;
    margin: 0px 10px;
    font-size: large;
}
.navbar .nav{
        margin-left: 5rem;
}
.navbar .nav .nav-item:hover .nav-link, .navbar .nav .nav-item.active .nav-link {
    color: #efb6df;
}

/* HEADER */

.bg-01{
    background-image: url('../assets/images/background/jumbotron-bg_photo.png');
    background-repeat: no-repeat;
    height: 800px;
    background-size: 800px;
    background-position-x: right;
}

@media (max-width: 800px) {
    .bg-01 {
        background-image: url('../assets/images/TRY-1.png');
    }
    .home_banner_area{
            margin-top: 0px;
    }
    .navbar .navbartoggler{
            background-color: gray;

    }
    .primary_btn {
        margin-bottom: 10px;
    }

}

.home_banner_area{
        margin-top: 150px;
}
.home_banner_area .banner_content h3 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}
.home_banner_area .banner_content h1 {
    color: rgba(5, 54, 77, 0.9);
    margin-top: 20px;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 20px;
}
.home_banner_area .banner_content h5{
    color: rgba(5, 54, 77, 0.8);
}

.home_banner_area .banner_content .social_icons a {
    color: rgba(5, 54, 77, 0.5);
    font-size: 26px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.gradient-color, .home_banner_area .banner_content .social_icons a:hover, .statistics_item h3 {
    background: -webkit-linear-gradient(90deg,  #1345e6 0%,  #ed239f 100%);
    background: -moz-linear-gradient(90deg,  #1345e6 0%,  #ed239f 100%);
    background: -o-linear-gradient(90deg,  #1345e6 0%,  #ed239f 100%);
    background: linear-gradient(90deg,  #1345e6 0%,  #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home_banner_area .banner_content .primary_btn {
    margin-right: 20px;
}
.banner_area {
    position: relative;
    z-index: 1;
}
.primary_btn {
    display: inline-block;
    background: linear-gradient(to right,  #1345e6 0%,  #ed239f 51%,  #1345e6 100%);
    color: #fff;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0px 38px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
    text-decoration: none;
    
}
.primary_btn:hover {
        text-decoration: none;
    background-position: right center;
    color: #fff;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}


.roll-in-left {
	-webkit-animation: roll-in-left 3s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
	        animation: roll-in-left 3s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
}

.bounce-in-top {
        color: #fff;
	-webkit-animation: bounce-in-top 2.0s cubic-bezier(1.000, 0.000, 0.000, 1.000) ;
	        animation: bounce-in-top 2.0s cubic-bezier(1.000, 0.000, 0.000, 1.000) ;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-5-9 23:31:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
